.app {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 15% !important;
  background-color: rgb(252, 250, 249);
}

.link-home,
.link-new-meeting {
  background-color: rgb(245, 69, 178);
  color: rgb(252, 248, 248);
  font-size: 2rem;
  width: 100px;
  height: 50%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px !important;
}
.link-new-meeting {
  background-color: rgb(252, 248, 248);
  width: 250px;
  color: rgb(245, 69, 178);
}
