html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: rgb(252, 249, 246);
}
#root {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
}
