.home {
  height: 100%;
  width: 100%;
}

.select-teamsdev {
  margin-top: 3%;
  font-size: 2rem;
  width: 70%;
  color: rgb(245, 69, 178);
  background-color: rgb(253, 244, 249);
  border-color: rgb(245, 69, 178);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.select-teamsdev:focus {
  border-color: rgb(245, 69, 178);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(233, 97, 150, 0.25);
}

.cards-meeting {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 18px;
  padding: 20px;
  justify-content: center;
}
.card {
  border: 1px solid rgb(245, 69, 178);
  border-radius: 12px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  overflow: hidden;
  background-color: #ffffff;
  height: 100%;
  padding: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.card:hover {
  background-color: #fff6fd;
}
.card-title {
  color: rgb(245, 69, 178);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.content-card {
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.date {
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}
