.input-form {
  border-color: rgb(245, 69, 178);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(233, 97, 150, 0.25);
  margin-top: 3%;
  font-size: 2rem;

  padding: 10px;
  border: 1px solid #ffe6e6;
  border-radius: 8px;
  background-color: #fdf9fb;
  outline: none;
}

.form-new-meeting {
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  justify-content: flex-start;
  direction: ltr;
  text-align: left;
}
.div-wraps-input {
  display: flex;
  flex-direction: column;

  flex: 1 1 250px;
}
.btn-new-meeting {
  width: 100%;
  background-color: #ec4899;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s;
}
.btn-new-meeting:hover {
  background-color: #db2777;
}

@media (min-width: 768px) {
  .form-new-meeting {
    grid-template-columns: 1fr 1fr;
  }
}
